
body{

    background-image: url("Design\ sans\ titre\ \(12\)\ \(1\).png");



}
#Q11{


width: 30px;
height:20px;
border-radius: 5px;
margin-left: 0%;
margin-top: 20%;
opacity: 70%;
border: solid 2px black ;
font-size: 12px;
background-color: #092767;

}

.Q1{


width: 480px;
height: 50px;
border-radius: 15px;
background-color: #092767;
color: white;
display: flex;
flex-direction: column;
margin-left: 50%;
gap: 5px;
flex-wrap: nowrap;
margin-block: 30px;
padding-left: 8px;
border: solid 2px black ;
opacity: 70%;


}


#Q111{


margin-top: -18%;


}


#QA{

margin-left: 20%;
margin-bottom: 8%;


}

.plus{

width: 20px;
height: 20px;
display: flex;
margin-top: -4px;
margin-left: -160%;

}

.btn{

width: 20px;
height: 20px;
display: flex;
margin-top: -50px;
margin-left: 95%;
background-color: #092767;
border-radius: 50px;
}



